{% extends 'entree/base.html' %}

{% load staticfiles i18n %}

{% block title %}{{block.super}} | About{% endblock title %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">About Entrée</h2>
        </div>
        <div class="col-lg-12">
            <h5>"Tinder for food."</h5>
            <p>
                Entree was developed as a proof of concept by students at Boston University.
                <br/><br/>
                Carlton Duffett<br/>
                George Gelinas<br/>
                Nick Morrison<br/>
                Lambert Shao<br/>
                <br/>
                CS411 Spring 2016
            </p>
        </div>
    </div>
{% endblock page_content %}
