{% extends 'entree/base.html' %}

{% load staticfiles i18n %}

{% block title %}{{block.super}} | Search{% endblock title %}

{% block stylesheets %}
    {{block.super}}
    <!-- Custom CSS -->
    <link href="{% static 'entree/css/index.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default panel-search">
                <div class="panel-heading">
                    <h3 class="panel-title">Search for Food by City</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="get" action="{% url 'entree:posts' %}" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="city" name="city" type="text" autofocus maxlength="64">
                                {% if search_error %}
                                    <p class="error-msg">Invalid search term</p>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </fieldset>
                    </form>
                </div>
            </div><!-- /.panel -->
        </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
{% endblock page_content %}