{% extends 'entree/base.html' %}

{% load staticfiles i18n %}

{% block title %}{{block.super}} | Post Detail{% endblock title %}

{% block stylesheets %}
    {{block.super}}
    <!-- Custom CSS -->
    <link href="{% static 'entree/css/post_detail.css' %}" rel="stylesheet">

    <!-- Mapbox CSS -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet'/>
{% endblock stylesheets %}

{% block page_content %}
    <div class="row">

        <!-- Flickr Post Detail panel -->
        <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-4 col-lg-offset-0">
            <div class="post-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Flickr Post</h3>
                </div>
                <div class="panel-body">
                    <img src="{{post.image_url}}" width="100%">
                    {% if post.description %}
                        <div class="post-description well">
                            <p>{{post.description}}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Map and Closest Matching Business panel -->
        <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-4 col-lg-offset-0">
            <div class="post-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Closest Matching Business</h3>
                </div>
                <div class="panel-body">

                    <span id="lat" hidden>{{post.latitude}}</span>
                    <span id="long" hidden>{{post.longitude}}</span>

                    <div id='map'></div>

                    {% if yelp_api_error %}
                        <div class="alert alert-warning">No Yelp data found for this location.</div>
                    {% else %}
                        <address>
                            <strong id="business_name">{{best_business.name}}</strong><br/>
                            {% for el in best_business.location.display_address %}
                                {{el}}<br/>
                            {% endfor %}
                        </address>

                        <dl>
                            <dt>Rating</dt>
                            <dd><img src="{{best_business.rating_img_url}}"><br></dd>
                            <dt>Reviews</dt>
                            <dd><a href="{{best_business.url}}" target="_blank">Go to Yelp Reviews</a></dd>
                        </dl>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Other Nearby Businesses panel -->
        <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-4 col-lg-offset-0">
            <div class="post-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Nearby Businesses</h3>
                </div>
                <div class="panel-body">
                    {% if yelp_api_error %}
                        <div class="alert alert-warning">No Yelp data found for this location.</div>
                    {% else %}
                        <div class="list-group">
                            {% for bus in alt_businesses %}
                                <a class="list-group-item" href="{{bus.url}}">
                                    <img src="{{bus.image_url}}" width="100px" height="100px" class="pull-right">
                                    <h5>{{bus.name}}</h5>
                                    <dl>
                                        <dt>Rating</dt>
                                        <dd><img src="{{bus.rating_img_url}}"></dd>
                                    </dl>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div><!-- /.row -->
{% endblock page_content %}

{% block javascript %}
    {{block.super}}
    <!-- Mapbox JavaScript -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
    <script src="{% static 'entree/js/mapbox.js' %}"></script>
{% endblock javascript %}