{% extends 'entree/base.html' %}

{% load staticfiles i18n %}

{% load crispy_forms_tags %}

{% block title %}{{block.super}} | {{user.username}}{% endblock title %}

{% block stylesheets %}
    {{block.super}}
    <!-- Custom CSS -->
    <link href="{% static 'entree/css/profile.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block page_content %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Your User Profile</h2>
    </div>
    <div class="col-lg-12">

        {% if editing %}
            <dl>
                <dt>Username</dt>
                <dd>{{user.username}}</dd>
            </dl>
            <form id="user-form" action="./" method="post" novalidate>

                {% crispy user_form %}
                <!-- Submit and Delete buttons -->
                <div class="form-group">
                    <div class="controls">
                        <input id="submit" type="submit" name="submit" value="Save Changes" class="btn btn-primary">
                    </div>
                </div>
            </form>
        {% else %}
            <dl>
                <dt>Username</dt>
                <dd>{{user.username}}</dd>

                <dt>First Name</dt>
                <dd>{{user.first_name}}</dd>

                <dt>Last Name</dt>
                <dd>{{user.last_name}}</dd>

                <dt>Email</dt>
                <dd>{{user.email}}</dd>
            </dl>
            <a href="./?edit=true" class="btn btn-default">Edit Profile</a>
        {% endif %}
    </div>
</div>
{% endblock page_content %}
